<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Account Overview</title>
    <meta charset="utf-8">
</head>
<body>
    <figure>
        <img src = "profilepic.jpg" alt = "Your photo"> </img>
    </figure>
    <h1 class = "B">Account Information</h1>
    <div class = "card-body">
        <ul>
            <li>Personal Information</li>
            <li>Addresses</li>
            <li>Feedback</li>
        </ul>
    </div>
    <div class = "card-body">
        <ul>
            <li>Payment Options</li>
            <li>PayPal Account</li>
            <li>Donation Account</li>
        </ul>
    </div>
    <div class = "card-body">
        <ul>
            <li>Site Preferences</li>
            <li>Advertisement Preferences</li>
            <li>Communication Preferences</li>
            <li>Close Account</li>
        </ul>
    </div>
</body>
</html>
