<!doctype html>

<html lang="en">

<head>
    <title>Offer an exchange</title>
    <link rel="icon" href="avatars/upload.png" type="image/png">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />



    <meta name="description" content="Listing creation page">
    <meta name="author" content="Jakub Ciurko">
    <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
        {{>postLoginHeader}}
    <section class="offer" id="offer_form">
        <h1>List an item</h1>
        {{!-- <form action="/login" method="post"> --}}
        <form>
           
            <p>Title:<input id="offer_cells" type="text" sname="user" placeholder="Title" value="{{user}}"></p>
            <p>Subtitle:<input id="offer_cells"type="text" name="pass" placeholder="Subtittle" value=""></p>
            <p>Description:<br \><textarea id="offer_cells" rows="6" cols="100">Describe your Item</textarea></p>
            <p>Category:<select id="myList">
                    <option value="1">Home&amp;Kitchen</option>
                    <option value="2">Outdoor</option>
                    <option value="3">Electronics</option>
                    <option value="4">Souls</option>
                </select></p>
            <p>Condition: <select id="condition">
                    <option value="1">New</option>
                    <option value="2">Used</option>
        </form>
        </select>

        </p>
        <p>"Price":<input id="offer_cells" type="text" name="pass" placeholder="Item you want in return" value=""></p>
        <p>Location:<input id="offer_cells" type="text" name="pass" placeholder="<drop-down list>" value=""></p>
        <iframe width="500" height="300"
            src="https://api.maptiler.com/maps/basic/?key=rFRsFph9nf6SoAdOWW9d#5.3/52.93886/-1.48657"></iframe>

        <a href="#" class="listButton">List your Item</a></p>
    </section>





</body>
<footer>Created by UncommunicativeTeam&trade; LTD &reg
    <button><a href="https://www.google.com">Contact us</a></button>

</footer>

</html>