
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="An error occurred">
		<meta name="author" content="Benjamin Grant">
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
                <script src="/js/error.js"></script>
	</head>
	<body>
		{{#if authorised}}
                        {{>postLoginHeader}}
        {{else}}
                {{> header}}
        {{/if}}
        <h1 class="error">An Error Has Occurred</h1>
        <h2 class="error">{{message}}</h2>
        <h3 class="error">You will be redirected to the homepage in 5 seconds...</h2>
        <footer >       {{> footer}}        </footer>
	</body>
</html>
