<!doctype html>

<html lang="en">
	<head>
                <title>Now you can make the worst deals ever</title>
                <link rel = "icon" href = "avatars/avatar.png" type = "image/png">
                <meta charset="utf-8">
                <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
                <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
               
                                
                
                <meta name="description" content="The HTML5 Template">
        <meta name="author" content="Joe Bloggs">
        <link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
                <header>
                        <section class="homepage">
                        <h1 class="homepage">
                                <a href='/'>ExchangeBAY</a></h1>

                        <h2 class="homepage">Welcome to ExchangeBAY, the place to trade all of your valuable items!</h2>

                        <nav class="homepage">
                                <tc><button>
                                        <a href='login' target="_blank">Login</a>
                                </button></tc>
                                <tc><button><a href = 'register'>Register</a> </button> </tc>
                                <tc><button><a href = "https://www.google.com">About</a> </button></tc>
                        </nav>
                        
                        </section>
                </header>
        
        
                <h2>Welcome to ExchangeBAY, the place to trade all of your valuable items!</h2>

                <p>Exchange bay is an item for item exchange. 
                It works simply by bidding on a sellers item with an item of your own instead of money. 
                If the seller accepts the trade then congratulations on a sucessful trade
                </p>

                <section>

                        <p>Items you may be interested in</p>

                <button class="carousel_button">
                                <img src="homepage_placeholders/left.jpg" alt="">
                </button>
                       
                <ul class="carousel">
                             <li class="slide">
                                <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
                             </li>   
                             <li class="slide">
                                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
                             </li>  
                             <li class="slide">
                                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
                             </li>  
                        </ul>
                
                <button class="carousel_button">
                                <img src="homepage_placeholders/right.jpg" alt="">
                </button>

                </section>

        
        </body>
        <footer >Created by UncommunicativeTeam&trade; LTD &reg  
                <button><a href = "https://www.google.com">Contact us</a></button>

        </footer>
</html>