<!doctype html>
<html lang="en">
	<head>
                <title>Now you can make the worst deals ever</title>
                <link rel = "icon" href = "avatars/avatar.png" type = "image/png">
                <meta charset="utf-8">
                <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
                <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
                <meta name="ExchangeBAY" content="Homepage">
                <meta name="author" content="Jakub Ciurko">
                <link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
                {{#if authorised}}
                        {{>postLoginHeader}}
                {{else}}
                        {{> header}}
                {{/if}}
                {{> default_page}}
        </body>
        <footer >       {{> footer}}        </footer>
</html>