<!doctype html>

<html lang="en">
	<head>
                <title>Now you can make the worst deals ever</title>
                <link rel = "icon" href = "avatars/avatar.png" type = "image/png">
                <meta charset="utf-8">
                <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
                <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
               
                                
                
                <meta name="description" content="The HTML5 Template">
        <meta name="author" content="Joe Bloggs">
        <link href="css/homepage.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <section class="homepage">
            <h1 class="homepage">ExchangeBAY</h1>

            <h2 class="homepage">Welcome to ExchangeBAY, the place to trade all of your valuable items!</h2>

            <nav class="homepage">
                    <tc><button>
                            <a href='login' target="_blank">Login</a>
                    </button></tc>
                    <tc><button><a href = 'register'>Register</a> </button> </tc>
                    <tc><button><a href = "https://www.google.com">About</a> </button></tc>
            </nav>
        
        </section>
                
        
        
        
        </body>
        <footer >Created by UncommunicativeTeam&trade; LTD &reg  
                <button><a href = "https://www.google.com">Contact us</a></button>

        </footer>
</html>