<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<script src="/js/login.js"></script>
</head>

<body>
	{{#if authorised}}
            {{>postLoginHeader}}
    {{else}}
            {{> header}}
    {{/if}}

	<img src="https://via.placeholder.com/150" alt="Logo" id="log-logo">
	<br/>
	{{#if msg}}
		<p class="msg">{{msg}}</p>
	{{/if}}
	<form id="log-form" action="/login" method="post">
		<fieldset>
			<legend>Login to exchange bay</legend>
			<input name="email" type="email" placeholder="Email Address"/><br/>
			<input name="pass" type="password" placeholder="Password"/><br/>
			<input type="submit" value="Login"/>
			<input type="button" value="Register" id="log-register"/>
		</fieldset>
	</form>
	
	<a href="problem">Trouble signing in?</a>
	<a href="lostPassword">Forgot Password</a>
	<footer >       {{> footer}}        </footer>
</body>

</html>