<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<script src="js/login.js"></script>
</head>

<body>
	<header>
		<section class="homepage">
			<h1 class="homepage">
                                <a href='/'>ExchangeBAY</a></h1>

			<h2 class="homepage">Welcome to ExchangeBAY, the place to trade all of your valuable items!</h2>

			<nav class="homepage">
				<tc><button>
						<a href='login' >Login</a>
					</button></tc>
				<tc><button><a href='register'>Register</a> </button> </tc>
				<tc><button><a href="about">About</a> </button></tc>
			</nav>

		</section>
	</header>

	<img src="https://via.placeholder.com/150" alt="Logo" id="log-logo">
	<br/>
	{{#if msg}}
		<p class="msg">{{msg}}</p>
	{{/if}}
	<form id="log-form" action="/login" method="post">
		<fieldset>
			<legend>Login to exchange bay</legend>
			<input name="email" type="email" placeholder="Email Address"/><br/>
			<input name="pass" type="password" placeholder="Password"/><br/>
			<input type="submit" value="Login"/>
			<input type="button" value="Register" id="log-register"/>
		</fieldset>
	</form>
	
	<a href="problem">Trouble signing in?</a>
	<a href="lostPassword">Forgot Password</a>

</body>

</html>