
<!doctype html>

<html lang="en">
	<head>
		<link rel = "icon" href = "avatars/avatar.png" type = "image/png">
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to create a new a">
		<meta name="author" content="Not Mark Tyers">
		{{!-- <link href="css/register.css" type="text/css" rel="stylesheet" /> --}}
        <link href="css/homepage.css" type="text/css" rel="stylesheet" />

	</head>
	<body>
        <section class="homepage">
            <h1 class="homepage">ExchangeBAY</h1>

            <h2 class="homepage">Welcome to ExchangeBAY, the place to trade all of your valuable items!</h2>

            <nav class="homepage">
                    <tc><button>
                            <a href='login' target="_blank">Login</a>
                    </button></tc>
                    <tc><button><a href = 'register'>Register</a> </button> </tc>
                    <tc><button><a href = "https://www.google.com">About</a> </button></tc>
            </nav>
        
        </section>
        
        </section>
		<section class="reg-form">
			<h1 class="register">E<a class="middle">xchange</a>BAY
				</h1>
			<h2 class="register">Create an Account</h2>
			<!--<form action="/register" enctype="multipart/form-data" method="post">-->
					<p>Username:<br /><input type="text" name="user" placeholder="your username(no spaces)" value="" size="20"></p>
					<p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value=""></p>
					<p>Confirm password:<br /><input type="password" name="pass" placeholder="repeat your password" value=""></p>
					<p>Email address:<br /><input type="email" name="email" placeholder="your email" value=""></p>
					<p>Profile Picture:<br /><input type="file" name="avatar">
					<a href="#" class="myButton">Create</a></p>
				
		</form>
		</section>
	</body>
</html>
